*{
     margin:0;
     padding: 0;
}

.HeaderContainer .cabecalho{
     background-color: #5d993f     ;
     height: 160px;
     display: flex;
     flex-flow: wrap row;
     flex: 50%;

}

.cabecalho{
     height: 160px;
     display: flex;
     flex-flow: wrap row;
}

.logo{
     height: 1000px;
     width:  500px;
}

.HeaderE{
     display: flex;
     flex-flow: wrap column;
     flex:35% ;
     margin-left: 10%;
   justify-content: center;
   align-items: start;
   color: #000000;
   
}

.tel{
     color: #036e03;

     display: flex;
     flex-flow: wrap row;
     justify-content: start;
     align-items: start;
     font-size: 17px;
     height: 28px;
}

.tel p{
     margin-left: 10px;
     color: #374e3f;
}

.SiteCetep{
     color: #036e03;

     display: flex;
     flex-flow: wrap row;
     justify-content: center;
     align-items: center;
}

.SiteCetep a{
     color: #374e3f;
     margin-left: 10px;
}

.HeaderE h1 {
     font-size: 19px;
}

.HeaderE img{
     height: 120px;
}

.loc{
     color: #036e03;
     display: flex;
     flex-flow: wrap row;
     justify-content: start;
     align-items: center;
     font-size: 17px;
     
}
.HeaderD{
     display: flex;
     flex-flow: wrap row;
     flex:35% ;
     margin-right: 10%;
     justify-content: end;
     align-items: center;
}


.loc a{
     color: #374e3f;
     margin-left: 10px;
}

.ContainerListSociais{
     display: flex;
     list-style: none;
     padding: 30px;
     margin: 0;
     height: 15px;
     justify-content: center;
     align-items: center;
     color: rgb(6, 6, 6);

}

.ContentListSocias {
     padding: 20px;
     
}



.ContainerListSociais a {
     color: #036e03;
}


.HeaderC{
     flex: 10%;
     display: flex;
     flex-flow: row wrap;
     justify-content: center;
     align-items: center;
     background-color: rgba(255, 228, 196, 0);

}

.imglogocetep{
     height:150px ;
}

.NavContainer{
     display: flex;
     height: 120px;
     flex-flow: wrap row;
     background-color: #045c21;
     justify-content:start;
     align-items: center;

}


.GroupLinks{
     display: flex;
     height: 100px;
     display: flex;
     flex-flow: wrap row;
     justify-content:start;
     align-items: center;
     flex: 70%;
}

.GroupLinks a{
     color: #ffffff;
}

.IconContainer{
     display: flex;
     flex-flow: wrap row ;
     justify-content: ;
     align-items: center;
     justify-content: end;
     flex: 30%;
}

.NavContent{
     margin-left: 10%;
     margin-right:10% ;
     display: flex;
     width: 100%;
} 

.IconTst{
    display: flex;
    height: 90px;
    align-items: center;
}